<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-GPlay-install-referrer" version="0.0.1">
        
            <feature name="GooglePlayReferrer">
                <param name="android-package" value="com.shadrach.cordova.plugins.GooglePlayReferrer"/>
            </feature>
        </config-file>

        <source-file src="src/android/GooglePlayReferrer.java" target-dir="src/com/shadrach/cordova/plugin" />
    </platform>
</plugin>